# Python
__pycache__/
*.py[cod]
*$py.class

# Poetry
.venv/
poetry.lock

# PyInstaller
build/
dist/
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# 環境設定
.env
.vscode/
.idea/

# ログファイル
*.log
log.txt

# 一時ファイル
*.tmp
*.bak

# 動画出力
*.mp4
*.avi

# システムファイル
.DS_Store
Thumbs.db
